# dependencies
node_modules/
__pycache__/
*.pyc

# Next.js
.next/
out/
build/

# env files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# debug logs
npm-debug.log*
yarn-debug.log*

# IDE
.vscode/
.idea/
.cursor/
.cursorules

# misc
*.pem
*.tsbuildinfo
next-env.d.ts
.vercel
